<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ed Impersonate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form name="TestForm" action="#" th:action="@{/callAPI}" method="get">
        <table align="center">
            <tr>
                <td align="center">
                    <h1>Test API</h1>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td align="center">
                    <input type="submit" id="test" value="Test API" align="center" style="height: 50px; width: 100px; background-color: dodgerblue">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
